numpy
notebook
pandas
matplotlib
opencv-python
cvzone
ultralytics
scipy
scikit-image
ipykernel
tqdm>=4.64.0
pycocotools
cython
from-root
filterpy
lap==0.4.0
Pillow
torch-summary
fastapi
uvicorn
Jinja2
PyYAML
dill==0.3.5.1
utils
torch
torchvision
sort
